<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="conteiner-main-pd">
        <div class="breadcrumb-list-pd">
          <p>Café <%= product.name %></p>
        </div>

        <div class="desktop-product-container-pd">
          <section class="product-conteiner-pd">
            <div class="product-image-pd">
              <img src="<%= product.photo %>" alt="html css coffee" />
            </div>
          </section>
          <section class="form-container-pd">
            <div class="product-description-pd">
              <div class="product-title-pd">
                <i class="<%= product.logo %>"></i>
                <h2><%= product.name %></h2>
              </div>
              <div class="product-details-pd">
                <h3>Café con estructura y estilo</h3>
                <p><%= product.description %></p>
                <h3>$ <%= Number(product.price).toFixed(2) %></h3>
              </div>
            </div>
            <form action="" method="POST" class="form-pd">
              <div class="product-quantity-pd">
                <h3 class="quantity-label-pd">Cantidad</h3>
                <div action="" class="quantity-options-pd">
                  <% weights.forEach(weight => { %>
                  <input
                    type="radio"
                    name="quantity"
                    value="<%= weight.name %>"
                    id="<%= weight.name %>"
                  />
                  <label for="<%= weight.name %>">
                    <i class="fas fa-weight-hanging <%= weight.logo %>"></i>
                    <p class="weight">250 gr</p>
                  </label>
                  <% }); %>
                </div>
              </div>
              <div class="product-grind-pd">
                <h3 class="grind-label-pd">Molienda</h3>
                <div class="grind-options-pd">
                  <% grinds.forEach(grind => { %>
                  <input
                    type="radio"
                    name="grind"
                    value="<%= grind.id %>"
                    id="<%= grind.id %>"
                    checked
                  />
                  <label for="<%= grind.id %>">
                    <i class="<%= grind.logo %>"></i>
                    <p><%= grind.name %></p>
                  </label>
                  <% }); %>
                </div>
              </div>

              <div class="suscription-banner-pd">
                <div class="upper-section">
                  <i class="fas fa-truck"></i>
                  <div>
                    <h3>Suscripción</h3>
                    <p>
                      Ahorrá un 30% en el primer kilo y recibí el mejor Café
                      todos los meses en la puerta de tu casa
                    </p>
                  </div>
                </div>
                <a href="#" class="suscription-button-pd"> SUSCRIBIRME </a>
              </div>
              <div class="add-to-cart-buttom-conteiner-pd">
                <a href="/product/shoppingCart">
                  <button type="submit" class="add-to-cart-buttom-pd">
                    AGREGAR AL CARRITO <i class="fas fa-cart-plus"></i></button
                ></a>
              </div>
            </form>
          </section>
        </div>
        <img src="/img/reason3-crop-.jpeg" alt="" class="main-img1" />
        <section class="conteiner-other-options">
          <div class="other-options-pd">
            <h3>Otras opciones</h3>
            <div class="product-products">
              <article class="product-box">
                <div class="product-box-image">
                  <img src="/img/productpythonwhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-python"></i>
                  <h2 class="product-title">Café python</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>

              <article class="product-box">
                <div class="product-box-image">
                  <img src="/img/productjavascriptwhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-js"></i>
                  <h2 class="product-title">Café Javascript</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>

              <article class="product-box">
                <div class="product-box-image">
                  <img src="/img/productnodewhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-node"></i>
                  <h2 class="product-title">Café Node.js</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
