<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <div class="intro-products">
          <h2>
            Es hora de tomar un break
            <i class="far fa-smile-wink"></i>
          </h2>
          <h3>y modificar el catálago.</h3>
        </div>
      </section>

      <section class="container">
        <form
          id="edit-form"
          action="/products/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
          class="register-form-container"
        >
          <div class="register-inputs-text">
            <div class="form-row">
              <label for="name">Nombre del Café: </label>
              <input
                type="text"
                name="name"
                id="name"
                value="<%= product.name %>"
                class="input-text"
                required
              />
            </div>
            <div class="form-row">
              <label for="description">Descripción del café:</label>
              <input
                type="textarea"
                name="description"
                id="description"
                value="<%= product.description %>"
                class="input-text"
                required
              />
            </div>

            <div class="form-row">
              <label for="origin">Oreigen del café:</label>
              <input
                type="text"
                name="origin"
                id="origin"
                value="<%= product.origin %>"
                class="input-text"
                required
              />
            </div>

            <div class="form-row">
              <label for="price">Precio del Café: </label>
              <input
                type="number"
                name="price"
                id="price"
                value="<%= product.price %>"
                class="input-text"
                required
              />
            </div>

            <div class="form-row">
              <label for="logo">Logo del Café: </label>
              <input
                type="text"
                name="logo"
                id="logo"
                value="<%= product.logo %>"
                class="input-text"
                required
              />
            </div>

            <div class="form-row">
              <input
                class="input-text hidden"
                type="file"
                name="photo"
                id="actual-btn"
                accept=".jpg .png"
                multiple
              />
              <label for="photo">Foto del café:</label>
              <label for="actual-btn" class="file-upload input-text"
                >Elige la foto</label
              >
            </div>

            

            <div class="checkbox sale">
              <div class="checkbox sale">
                <input type="checkbox" name="sale" id="sale" class="" />
                <label for="sale" class=""> Oferta </label>
              </div>
              <div class="checkbox sale">
                <input type="checkbox" name="featured" id="featured" class="" />
                <label for="featured" class=""> Destacado </label>
              </div>
            </div>
          </div>
        </form>
        <form
          id="erase-form"
          action="/products/<%= product.id %>?_method=DELETE"
          method="POST"
        ></form>

        <div class="form-row-buttons">
          <button form="edit-form" type="submit" class="input-text">
            Editar
          </button>
          <button form="erase-form" type="submit" class="input-text">
            Borrar
          </button>
        </div>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
