<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <div class="intro-products">
          <h2>
            Es hora de tomar un break
            <i class="far fa-smile-wink"></i>
          </h2>
          <h3>y modificar el registro.</h3>
        </div>
      </section>

      <section class="container">
        <form
          method="POST"
          enctype="multipart/form-data"
          action="/users/<%= user.id %>?_method=PUT"
          class="register-form-container"
        >
          <div class="register-inputs-text">
            <div class="form-row">
              <label for="first_name">Nombre y Apellido: </label>

              <input
                type="text"
                name="first_name"
                id="first_name"
                placeholder="Ingresa tu nombre y apellido"
                class="input-text"
              />
              <% if (locals.errors && errors.first_name) { %>
              <p class="warning"><%= errors.first_name.msg %></p>
              <% } %>
            </div>

            <div class="form-row">
              <label for="last_name">Nombre y Apellido: </label>
              <input
                type="text"
                name="last_name"
                id="last_name"
                placeholder="Ingresa tu nombre y apellido"
                class="input-text"
              />
              <% if (locals.errors && errors.last_name) { %>
                <p class="warning"><%= errors.last_name.msg %></p>
                <% } %>
            </div>
            <div class="form-row">
              <label for="username">Nombre de usuari@:</label>
              <input
                type="text"
                name="username"
                id="username"
                value="<%= user.nick_name %>"
                class="input-text"
                required
              />
            </div>

            <div class="form-row">
              <label for="mail">Correo Electrónico: </label>
              <input
                type="email"
                name="mail"
                id="mail"
                value="<%= user.email %>"
                class="input-text"
                required
              />
            </div>

            

            <div class="form-row">
              <label for="password">Contraseña:</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Ingresa tu contraseña"
                minlength="8"
                class="input-text"
                required
              />
            </div>
            
            <div class="form-row">
              <label for="birth">Fecha de nacimiento:</label>
              <input type="date" name="birth" id="birth" class="input-text" />
            </div>

            <div class="form-row">
              <label for="address">Domicilio:</label>
              <input
                type="text"
                name="address"
                id="address"
                value="<%= user.birth_date %>"
                class="input-text"
              />
            </div>

            <div class="form-row">
              <input
                class="input-text hidden"
                type="file"
                name="photo"
                id="actual-btn"
                accept=".jpg, .png, .jpeg"
                                
              />
              <label for="photo">Foto de Usuario:</label>
              <label for="actual-btn" class="file-upload input-text"
                >Elige la foto</label
              >
            </div>
          </div>

          <div class="form-row-buttons">
            <button form="edit-form" type="submit" class="input-text">Editar</button>
            <button form="erase-form" type="submit" class="input-text">Borrar</button>
          </div>
        
        </form>
        <form id="erase-form" action="/users/<%= user.id %>?_method=DELETE"method="POST"></form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
